.upload-wrapper{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.dropify-wrapper{
    max-height:100px!important;
}

.form-group {
    margin: 2rem 0 !important;
}

/*ALERTIFY CUSTOM COLORS*/

.ajs-message.ajs-warning {
    background-color: #ffc107!important;
    color:#000;
    opacity: 0.8;
}

.ajs-message.ajs-success {
    background-color: #28a745 !important;
    color:#fff;
    opacity: 0.8;
}

.ajs-message.ajs-danger {
    background-color: #dc3545 !important;
    color: #fff;
    opacity: 0.8;
}

/*INPUT*/

.input-validation-error{
    border-color:red!important;
}

/*ADMIN PANEL*/

#admin {
    background-color: rgb(245, 245, 245);
}
