
@using PersonalBlog.Extensions
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bilelim - Hata</title>
</head>
<body>
    <section class="d-flex flex-column justify-content-center align-items-center">
        @RenderBody()
    </section>
</body>
</html>
