@model LoginDto
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="bg-primary p-4 shadow">
    <h1 class="text-white">Giriş Yap</h1>
</div>

<div class="container my-5 d-flex j-center a-center">
        <form asp-controller="Account" asp-action="Login" method="post" class="w-50">
                <label class="sliding-input">
                    <div class="input-wrapper input-underline">
                        <input asp-for="Username" class="form-control" value="admin"/>
                        <span class="placeholder">Kullanıcı Adınız</span>
                    </div>
                    <span class="error" asp-validation-for="Username"></span>
                </label>

                <label class="sliding-input">
                    <div class="input-wrapper input-underline">
                        <input asp-for="Password" type="password" class="form-control" value="Bilelimadmin1"/>
                        <span class="placeholder">Şifreniz</span>
                    </div>
                    <span class="error" asp-validation-for="Password"></span>
                </label>

                <button class="btn btn-success" type="submit">Giriş Yap</button>
        </form>
</div>