* {
  box-sizing: border-box;
  line-height: 150%;
  letter-spacing: 0.5px;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  background-color: rgb(245, 245, 245);
}

body {
  @extend %font-family;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #fff;
}

#root {
  height: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
  object-position: center;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  font-weight: bold;
}

small {
  color: gray;
}

.d-none {
  display: none;
}

.fa-angle-left {
  margin-right: 1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

$color-primary-transparent: rgba(230, 97, 53, 0.9);
$color-primary: #e66035;
$greyed_black: rgba(0, 0, 0, 0.55);

%full-img {
  width: 100%;
  height: 100%;
}

%font-family {
  font-family: "Spartan", sans-serif;
}

%box-shadow {
  -webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.18);
}

.full-line,
.small-line,
.img-skeleton,
.author-skeleton {
  background-color: rgba(0, 0, 0, 0.1);
  animation-name: skeleton;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes skeleton {
  50% {
    background-color: rgba(0, 0, 0, 0.15);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.img-skeleton {
  width: 100%;
  height: 110px;
}

.full-line {
  width: 100%;
  height: 10px;
  margin-bottom: 1rem;
}

.author {
  .small-line {
    margin: 0.5rem;
  }
}

.small-line {
  width: 40%;
  height: 10px;
}

.jumbotron {
  width: 100%;
  height: 50vh;
  position: relative;

  img {
    @extend %full-img;
  }

  .jumbotron-text {
    position: absolute;
    font-weight: lighter;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.8);
    padding: 1rem;
    margin-bottom: 0;
    font-size: 1.4rem;

    small {
      display: block;
      text-align: right;
      width: 100%;
    }
  }
}

nav {
  overflow: visible;
  position: sticky;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 10;
  padding: 0.6rem 0;
  background-color: $color-primary-transparent;
  @extend %box-shadow;
  top: -1px;
  width: 100%;
  min-height: 50px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .brand {
      max-width: 70px;
      .brand-img {
        display: block;
        @extend %full-img;
      }
    }

    .sticky-header {
      color: #fff;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: left;
    }
  }

  .nav-expand-btn {
    cursor: pointer;
    .btn-line {
      height: 2px;
      width: 22px;
      margin: 0.3rem 0;
      background-color: #fff;
      transition: all 0.4s;
    }

    .first-line-activated {
      transform: rotate(45deg) translateY(4px);
    }

    .second-line-activated {
      display: none;
    }

    .third-line-activated {
      transform: rotate(-45deg) translateY(-4px);
    }
  }

  .nav-expand {
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;

    .nav-expand-links {
      color: #fff;
      a {
        display: block;
        padding: 2rem 0;
        transition: all 0.4s;
        &:hover {
          width: 100%;
          color: #000;
          background-color: #fff;
        }
      }
    }
  }

  .expanded {
    background-color: $color-primary-transparent;
    opacity: 1;
    top: 50px;
  }

  .nav-links {
    color: #fff;
    display: none;
    justify-content: space-between;

    a {
      transition: 0.4s all;
      padding: 3rem 1rem;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}

main {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;

  section {
    margin: 3rem 0;
  }

  .blog-header {
    text-align: center;
    margin-bottom: 4rem;
    font-weight: bold;

    .selectbox {
      display: inline-block;
      width: 16rem;
      font-weight: normal;
      padding: 1rem 2rem;
      border: none;
      border-bottom: 1px solid black;
      cursor: pointer;
      position: relative;

      .options {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: $color-primary;
        color: #fff;
        width: 100%;
        z-index: 11;

        .option {
          padding: 1rem 1.2rem;

          &:hover {
            background-color: #fff;
            color: $color-primary;
          }
        }
      }

      .closed {
        display: none;
      }

      .select-arrow {
        display: inline-block;
        margin-left: 1rem;
        margin-bottom: 0.2rem;
        width: 8px;
        height: 8px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        transform: rotate(-45deg);
        transition: 0.4s all;
      }

      .select-arrow-up {
        transform: rotate(135deg);
        margin-bottom: 0;
      }
    }
  }

  .blog-preview {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom: 1px solid $color-primary;
    padding: 2.2rem 0;
    transition: 0.4s all;
    height: 150px;

    &:hover {
      @extend %box-shadow;
      border-color: #fff;
      color: $color-primary;
      background-color: rgb(245, 245, 245);
    }

    .blog-img {
      display: none;
      flex-basis: 30%;
      max-width: 250px;
      margin-right: 2rem;

      img {
        @extend %full-img;
        max-height: 120px;
      }
    }

    .blog-details {
      flex-basis: 100%;

      h2 {
        margin: 0;
      }

      .category {
        display: inline-block;
        margin: 0.4rem 0;
        padding: 0.4rem 0;
        color: $color-primary;
        font-size: 0.8rem;
        font-weight: bold;
      }

      small {
        display: flex;
        justify-content: space-between;

        .blog-details-icon {
          margin-left: 1rem;
        }
      }
    }
  }

  .link-to-blogs {
    margin-top: 5rem;
    text-align: center;

    a {
      padding: 1rem;
      border: 1px solid $color-primary;
      transition: 0.4s all;

      &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }
  }

  .blog-detail-layout {
    display: flex;
    flex-direction: column;

    #blog-content {
      p {
        margin-bottom: 2rem;
      }

      .blog-info {
        text-align: right;
        color: $greyed_black;
        margin-bottom: 3rem;
        font-size: smaller;

        span {
          margin-right: 1rem;
        }
      }

      .html-content {
        max-width: 100%;
        p {
          line-height: 150% !important;
        }

        iframe {
          max-width: 100%;
          object-fit: contain;
        }

        img {
          max-width: 100%;
          object-fit: contain;
        }
      }
    }

    .author {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid $color-primary;
      border-bottom: 1px solid $color-primary;
      padding: 2rem 0;

      .author-img {
        flex-basis: 30%;
        max-height: 200px;
        max-width: 200px;
        border-radius: 50%;
        margin-bottom: 1rem;

        img {
          object-fit: cover;
          border-radius: inherit;
          @extend %full-img;
        }
      }

      .author-details {
        flex-basis: 60%;

        h4 {
          margin-bottom: 1rem;
        }

        p {
          text-indent: 0;
        }
      }
    }
  }

  .comment-section {
    text-align: center;

    form {
      max-width: 450px;
      margin: 0 auto;

      .form-group {
        text-align: left;

        input,
        textarea {
          display: block;
          @extend %font-family;
          margin-top: 2rem;
          padding: 0.6rem;
          width: 100%;
          resize: none;
          border: none;
          border-bottom: 1px solid $color-primary;
          transition: all 0.4s;

          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
          }

          &:focus {
            outline-color: $color-primary;
          }
        }

        small.input-error {
          display: block;
          color: red;
          margin-top: 0.4rem;
        }
      }

      button {
        border: 1px solid $color-primary;
        padding: 0.6rem;
        margin-top: 2rem;
        background-color: transparent;
        @extend %font-family;
        transition: 0.4s all;
        text-align: center;

        &:hover {
          background-color: $color-primary;
          color: #fff;
        }
      }
    }

    .comments {
      margin-top: 4rem;

      .card {
        padding: 2rem 0;
        border-bottom: 1px solid $color-primary;
        display: flex;

        .card-details {
          text-align: left;
          flex-basis: 100%;
        }

        .delete-comment-btn {
          color: red;
          cursor: pointer;
          font-size: 1.2rem;
        }
      }
    }
  }
}

footer {
  .credentials {
    background-color: $color-primary;
    color: #fff;
    padding: 2rem 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      i {
        color: #000;
        margin-right: 0.4rem;
      }
    }
  }

  .copyright {
    color: $greyed_black;
    text-align: center;
    padding: 2rem 0;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 11px;
  }

  .blog-img {
    display: block !important;
  }

  .blog-details {
    flex-basis: 65% !important;
  }

  main .blog-preview {
    height: 180px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }

  .container {
    width: 80%;
  }

  .author-img {
    flex-basis: 20% !important;
  }

  nav {
    overflow-y: hidden;
    min-height: 70px;

    .container {
      .brand {
        max-width: 90px;
      }
    }
  }

  .nav-expand,
  .nav-expand-btn {
    display: none;
  }

  nav .nav-links {
    display: flex;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 13px;
  }

  main {
    .blog-detail-layout {
      flex-direction: row-reverse;
      justify-content: space-between;
      border-bottom: 1px solid $color-primary;

      #blog-content {
        flex-basis: 70%;
      }

      .author {
        flex-basis: 25%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
        border: none;
        text-align: center;

        .author-img {
          flex-basis: 0 !important;
        }

        h4,
        small {
          display: block;
          text-align: center;
        }
      }
    }
  }
}
