@model AddOrUpdateCategoryViewModel
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isCreate = Model.CategoryId == 0 ? true : false;
}

<div class="p-4 bg-primary shadow">
    <h1 class="text-white">@(!isCreate ? "Düzenle" : "Yeni Kategori")</h1>
    <div class="d-flex j-end">
        <a asp-controller="Category" asp-action="CategoryList" class="link text-white">Listeye Dön</a>
    </div>
</div>


<form asp-controller="Category" asp-action="AddOrUpdate" method="post" class="m-4">
    <input type="hidden" asp-for="CategoryId" />

    @if (!isCreate)
    {
        <label class="sliding-input mb-4">
            <div class="input-wrapper input-underline">
                <input asp-for="CategoryId" readonly>
                <span class="placeholder">ID</span>
            </div>
        </label>
    }

        <label class="sliding-input mb-4">
            <div class="input-wrapper input-underline">
                <input asp-for="CategoryName" >
                <span class="placeholder">Kategori Adı</span>
            </div>
            <span asp-validation-for="CategoryName" class="error"></span>
        </label>
    

    <button type="submit" class="btn btn-success">Kaydet</button>

</form>

