@model List<CategoryViewModel>
@using PersonalBlog.Extensions
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow bg-primary p-2">
    <h1 class="text-white">Kategoriler</h1>
    <div class="d-flex j-end">
        <a asp-controller="Category" asp-action="AddOrUpdate" class="btn btn-white">
                Kategori Oluştur
        </a>
    </div>
</div>

<div class="mx-2 my-4 table-responsive">
    <table class="table text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Kategori Adı</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>
                        <a asp-action="AddOrUpdate" asp-controller="Category" asp-route-categoryId="@item.CategoryId" class="btn btn-warning small">Düzenle</a>
                        <a data-categoryId="@item.CategoryId" class="delete-category-btn btn btn-danger small">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
</div>

@section Scripts{
    <script>
        var deleteCategoryBtns = document.querySelectorAll(".delete-category-btn");
        if(deleteCategoryBtns.length > 0){
            deleteCategoryBtns.forEach(b => {
                var categoryId = Number(b.getAttribute("data-categoryId"));
                b.addEventListener("click", function(){handleDelete(this, categoryId)})
            })
        }

        function handleDelete(btn, categoryId){
            mFeedback.alert("Kategoriyi silmek istediğinize emin misiniz? (Bu kategori altındaki tüm içeriklerde silinecektir.)", async function(){
                try{
                    await fetch(`/admin/categories/delete?categoryId=${categoryId}`);
                    var rowToDelete = btn.closest("tr");
                    var tbody = btn.closest("tbody");
                    tbody.removeChild(rowToDelete);
                    mFeedback.notify.success("Kategori ve bağlı içerikleri silindi.");
                }
                catch(e){
                    mFeedback.notify.error("Kategori silinemedi.");
                    console.log(e);
                }
            })
        }
    </script>
}

