
@{
    Layout = "../Shared/_ErrorLayout.cshtml";
}

        <img src="~/img/500.svg" alt="" class="d-block w-50" />
        <p class="mt-4">İşleminiz gerçekleştirilirken kritik bir hata alındı. <a href="/" class="color-warning">Buradan anasayfa'ya dönerek</a> tekrar deneyin. Eğer bu sayfa tekrar karşınıza
    çıkarsa durumu lütfen ekibimize bildirin.</p>
