
@{
    Layout = "../Shared/_ErrorLayout.cshtml";
}

        <img src="~/img/Code404.svg" alt="" class="d-block w-50" />
        <p class="mt-4">Aradığınız sayfa bulunamadı. <a href="/" class="color-warning">Buradan anasayfa'ya dönerek</a> mevcut içeriklerimizi okuyabilirsiniz.</p>
